.THIS .slds-button {
    text-align: center !important;
    width: 2rem !important;
    height: 2rem !important;
}

.THIS .slds-button:hover {
    background-color: white !important;
    color: rgb(0, 112, 210) !important;
}